.layout {
  display: flex;
  gap: 1rem;
  min-height: 100vh;
  margin: auto;
  max-width: 1280px;
  padding: 0 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 50%;
  max-height: 100vh;
  padding: 7rem 0;
  justify-content: space-between;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(var(--accent-rgb));
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(var(--accent-rgb));
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.header nav {
  margin-top: 3rem;
}

.header nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social {
  display: flex;
  gap: 1rem;
}

.main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 7rem 0;
  line-height: 1.6;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  display: flex;
}

.project__main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project__duration {
  width: 20rem;
  font-size: 0.85rem;
}

.project__title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--accent-rgb));
}

.project__description {
  color: rgb(var(--accent-rgb));
}

#educations {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.education {
  display: flex;
}

.education__main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education__duration {
  width: 20rem;
  font-size: 0.85rem;
}

.education__title {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.education h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--accent-rgb));
}

.project__description {
  color: rgb(var(--accent-rgb));
}
